/*Font families*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

@font-face {
    font-family: burbank-big;
    src: url(../news/burbank.otf);
}

@font-face {
    font-family: burbank-bold;
    src: url(../news/burbank-bold.otf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e1220;
    font-family: 'Poppins', calibri, helvetica, arial, sans-serif;
    color: white;

    overflow: overlay;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul {
    list-style: none;
}

body, h1, h2, h3, h4, h5, h6, html, li, p, ul {
    margin: 0;
    color: #fff;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    border-top-color: #1e223a;
}

a.d-link:-webkit-any-link {
    color: #539bf5;
}
a.gray-link:-webkit-any-link {
    color: gray;
}

a {
    color: white;
    transition: color .3s;
    text-decoration: none;
}

a:-webkit-any-link:not(.nav-logo, .no-link):hover {
    color: #dfb515;
    text-decoration: underline;
}

.fn-dot-mask {
    background: rgba(0, 0, 0, 0.12);
}
.fn-season-video, .fn-dot-mask {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127, .5);
    border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.links {
    transition: color .3s;
}
.links:hover {
    color: #dfb515;
    text-decoration: underline;
}

.season-video {
    z-index: -100;
}

.green {
    color: green;
}

.player-data {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Top navbar*/
.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(31, 25, 49, 0.5);
    z-index: 50;
}

/**Nav items*/
.nav-logo {
    font-size: 27px;
    font-weight: 700;
    margin-left: 3rem;
    margin-right: 3rem;
    color: white;

    transform: scale(1);

    transition: .25s ease;
    transition-property: transform, color;
}
.nav-logo:hover {
    transform: scale(1.15);
}

.nav-items {
    list-style: none;
    padding: 0;
    display: flex;
}
.nav-item {
    margin-left: .5rem;
    margin-right: .5rem;
}

.nav-dropdown-menu {
    position: absolute;
    padding: .5rem;
    background:rgb(47, 47, 47);

    z-index: 100;
    transition: .15s ease-in-out;
    transition-property: opacity;

    display: none;
}

.dropdown-item {
    margin: .5rem;
}

.arrow::after {
    left: 50%;
    transform: rotate(-45deg);
}

.arrow::before {
    left: calc(50% - 1px);
    transform: rotate(45deg);
    height: 6px;
    background: white;
}

.arrow::before, .arrow::after {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 9px;
    background: currentColor;
    transform-origin: 50% 100%;
}

.arrow.sideways {
    transform: rotate(-90deg);
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 11px;
    height: 11px;
    transition: transform .2s;
}

.navbar-top {
    align-items: center;
    display: flex;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.menu-toggle {
    cursor: pointer;
    border-radius: 100%;
}

/**Item search*/
.item-search-container {
    position: absolute;
    display: flex;
    align-items: center;
}

.item-search-container button, .cosmetic-search-container button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: transparent;
}
.item-search-container input, .cosmetic-search-container input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input[type=text] {
    border: 1px solid gray;
    color: white;
    background-color: black;
    border-radius: 10px;
    transition: background-color .3s;

    font-family: 'Poppins', serif;
}
input[type=text]:focus { background-color: rgb(50, 50, 50); }

button {
    border: 1px solid gray;
    color: white;
    background-color: black;
    border-radius: 10px;
    transition: background-color .3s;

    font-family: 'Poppins', serif;
}
button:hover { background-color: rgb(50, 50, 50); }

.load-more-btn {
    font-size: 18px;
}

.filter-container {
    display: flex;
}

.filters-title {
    font-size: 18px;
    font-weight: 700;
}

.filter-class {
    font-size: 17px;
}

.filter-choice {
    margin-left: 1rem;
    margin-right: 1rem;
}

.filter-options .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 12px;
}

.filter-options .dropdown-menu .dropdown-choice:not(.group):not(:last-child) {
    border-bottom: 1px solid #39416b;
}

.filter-options:not(:not(.float-right)) .dropdown-menu {
    transform: translateX(-50%);
}

.cosmetic-search {
    border-radius: 0;
    width: 100%;
    height: 3rem;
    font-size: 17px;
}

.player-data input:not(:first-child), .player-data button:not(:last-child) {
    margin-left: 1rem;
    margin-right: 1rem;
}

/*Page contents*/
.content {
    backdrop-filter: blur(5px);
    margin: 6rem 0 3rem;
    background-color: rgba(31, 25, 49, .9);
    padding: 2rem;
    border-radius: 10px;
    z-index: 25;
}

.content-select {
    width: 250px;
}

.content-input input,
.content-select select{
    display: inline-block;
	width: 100%;
	cursor: pointer;
    margin: 10px;
  	padding: 7px 10px;
  	border: 1px solid gray;
	border-radius: 10px;
	background: black;
    color: white;
}

.predictions {
    display:flex;
    flex-wrap: wrap;
}

.predictions-cosmetic, .augment {
    border-radius: 10px;
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.predictions-item-context, .augment-data {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.percentage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-bg {
    width: 100%;    
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
}

.progress-bar {
    height: 2rem;
    line-height: 2rem;
    text-align: center;

    width: 0%;
    background-color: rgb(14, 28, 81);
    color: white;
    border-radius: 10px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .9375rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #222;
    background-clip: padding-box;
    border: 1px solid #444;
    border-radius: .25rem;
}

.dropdown-choice {
    cursor: pointer;
    padding: 3px 10px;
}

.dropdown-label {
    font-size: 16px;
}

.item-shop-btn, .news-btn {
    padding: .75rem 20%;
    background: none;
    transition-property: background, color;
    cursor: pointer;
    text-decoration: none;
}
.item-shop-btn {
    border-color: #00bc8c;
}
.item-shop-btn:not(:hover) {
    color: #00bc8c;
}
.item-shop-btn:hover {
    background: #00bc8c;
}

.news-btn {
    border-color: #f9aa00;
}
.news-btn:not(:hover) {
    color: #f9aa00;
}
.news-btn:hover {
    background: #f9aa00;
}

.shop-items-container {
    width: 100%;
}

.shop-section-title, .augment-section-title {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.shop-items-display, .search-objects, .augments-tab-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-items-display .item-card, .search-objects .item-card {
    margin: .5rem;
    cursor: pointer;
}

.vbuck-icon {
    width: 25px;
    height: 25px;
}

.item-shop-countdown, .shop-history-tag {
    background:rgb(47, 47, 47);
    border-radius: 10px;
    padding: .5rem;
}

.shop-history-tag {
    margin-left: .5rem;
}

.variant-container {
    background: rgb(47, 47, 47);
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: .5rem;
}

/*The image*/
.variant-container img {
    height: 84px;
    width: 84px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.item-banner {
    font-size: 12px;
    z-index: 9999;
    position: absolute;
    font-weight: 700;
    padding: .2rem;
    text-align: center;
    pointer-events: none;

    transition: .3s;
    transition-property: margin-left, margin-top;

    font-family: burbank-big;
    text-transform: uppercase;
}

.item-banner[intensity=High] {
    background-color: #FFFF00;
    color: #00072C;
    border: 3px solid white;

    animation: scalebounce .5s ease-in-out infinite alternate;
}

.item-banner[intensity=Low] {
    background-color: #CF0067;
    border: 3px solid #FF2C78;
    color: white;
}

.item-card {
    position: relative;
    background-color: #343434;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;

    font-family: burbank-big, burbank-bold, 'Poppins';

    filter: brightness(1);

    transition: .05s ease;
    transition-property: transform, filter, border, box-shadow;
}

/*Item card change size*/
.item-card img:not(.vbuck-icon):not(.item-card-item-display) {
    transition: transform .1s;
    z-index: -1;
    border: 0;
    width: 100%;
    height: 200%;
}
.item-card:hover img:not(.vbuck-icon):not(.item-card-item-display) {
    transform: scale(1.08);
}
.item-card:hover .item-price img {
    height: 30px;
    width: 30px;
    opacity: 1;
}
.item-card:hover .item-info {
    background-color: #F6F6F6;
}
.item-card:hover .item-price {
    background: #B9FCF3;
}
.item-card:hover .item-info .item-type {
    display: block;
}
.item-card:hover .item-price .item-price-bip,
.item-card:hover .item-price .item-price-vbp {
    opacity: 1;
    color: #499CA2;
}
.item-card:hover .item-info .item-title {
    color: #363636;
}
.item-card:not(.no-resize):hover {
    filter: brightness(1.05);
    box-shadow: 0 0 2rem 0 rgb(0 0 0);
}
/*Item card change size*/
.item-card:not(.no-resize) {
    width: 212px;
}

.item-image {
    display: flex;
    justify-content: center;
}

.item-info {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #1E1E1E;
    transition: background-color .05s;
    border-top: 3px solid transparent;
    position: absolute;
    padding-top: .5rem;
    bottom: 0;
    width: 100%;
    display: block;
}

.item-title {
    display: inline-block;
    font-style: italic;
    margin: .3rem 0 .3rem;
    transition: color .1s;
}

.item-type {
    display: none;
    transform: scale(0.6);
    color: black;
    opacity: .5;
    margin-top: -0.5rem;
}

.item-price {
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-style: italic;
    height: 12px;
    overflow: hidden;
    letter-spacing: 1px;
    font-family: burbank-bold;
    background: #0E0E0E;
    transition: background .05s;
}

/*The strike through price that is shown if there is a discount*/
.item-price-bip {
    transform: scale(0.7);
    text-decoration: line-through;
    opacity: .4;
}

.item-price-vbp {
    transform: scale(0.7);
    opacity: .5;
}

.item-price-bip, .item-prive-vbp {
    transition: color .05s;
}

.item-price img {
    margin-left: -.1rem;
    transform: rotate(15deg);
    opacity: .5;
    transition: .1s;
    transition-property: width, height, opacity;
}

.shop-reset-timer {
    text-shadow: 0 2px 2px #000;
}

.items-count {
    color:rgb(150, 150, 150);
    font-size: 15px;
    margin-left: 1rem;
    background:rgb(47, 47, 47);
    padding: .5rem;
    border-radius: 10px;
}

.item-card-item-display {
    width: 100%;
}

.item-info-right {
    padding: 1rem;
}

.shop-history {
    padding: 10px;
    overflow-y: scroll;
    height: 200px;
    margin-top: 1rem;
}

.shop-history-element {
    margin: .2rem;
    font-size: 16px;
}


.rarity-label {
    font-size: 16px;
    padding: .5rem;
    background:rgb(47, 47, 47);
    border-radius: 10px;
    margin-left: .5rem;
    color: black;
}

.item-type-label {
    font-size: 16px;
    padding: .5rem;
    background:rgb(47, 47, 47);
    border-radius: 10px;
    margin-left: .5rem;
    color: rgb(206, 206, 206);
}

.youtube-iframe {
    margin-top: 1rem;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.news-frame {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.news-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 1rem;
}

.news-item {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}

.news-item-image {
    border-radius: 10px;
}

.mobile-media-content {
    padding: 1rem;
}

.full-size {
    width: 100%;
}

.map-location-box, .stat-box {
    margin-left: 2rem;
}

.map-location-item {
    font-size: 16px;
}

.map-location-type, .stat-type {
    cursor: pointer;
}

.map {
    width: 100%;
}

.stats-items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 2fr));
    grid-auto-rows: 5rem;
    grid-gap: 2px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    border-radius: 10px;

    background-color: rgb(16, 16, 16);
    transition: background-color .25s;
}

.stat-item:hover {
    background-color: rgb(47, 47, 47);
}

.stat-item-title {
    font-size: 18px;
    text-transform: uppercase;
    font-family: burbank-bold;
}

.stat-item-content {
    font-size: 16px;
}

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle h2 {
    margin-left: 1rem;
}

.toggle-switch {
    display: inline-block;
    background: rgb(59, 59, 59);
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #20452f;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.season-date {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.item-card[data-rarity=legendary] {
    background: -o-radial-gradient(#ea8d23, #78371d);
    background: radial-gradient(#ea8d23, #78371d);
}
.item-info[data-rarity=legendary] {
    border-top-color: #e98d4b;
}
.rarity-label[data-rarity=legendary] {
    background-color: #e67e22;
}

.item-card[data-rarity=epic] {
    background: -o-radial-gradient(#c359ff, #4c2483);
    background: radial-gradient(#c359ff, #4c2483);
}
.item-info[data-rarity=epic] {
    border-top-color: #ea5eff;
}
.rarity-label[data-rarity=epic] {
    background-color: #c359ff;
}

.item-card[data-rarity=rare] {
    background: -o-radial-gradient(#2cc0ff, #143877);
    background: radial-gradient(#2cc0ff, #143877);
}
.item-info[data-rarity=rare] {
    border-top-color: #37d0ff;
}
.rarity-label[data-rarity=rare] {
    background-color: #37d0ff;
}

.item-card[data-rarity=uncommon] {
    background: -o-radial-gradient(#6abb1e, #175117);
    background: radial-gradient(#6abb1e, #175117);
}
.item-info[data-rarity=uncommon] {
    border-top-color: #88e339;
}
.rarity-label[data-rarity=uncommon] {
    background-color: #88e339;
}

.item-card[data-rarity=common] {
    background: -o-radial-gradient(#bebebe, #646464);
    background: radial-gradient(#bebebe, #646464);
}
.item-info[data-rarity=common] {
    border-top-color: #b1b1b1;
}
.rarity-label[data-rarity=common] {
    background-color: #b1b1b1;
}

.item-card[data-rarity=lava] {
    background: -o-radial-gradient(#ea8d23, #6a0a31);
    background: radial-gradient(#ea8d23, #6a0a31);
}
.item-info[data-rarity=lava] {
    border-top-color: #d19635;
}
.rarity-label[data-rarity=lava] {
    background-color: #d19635;
}

.item-card[data-rarity=frozen] {
    background: -o-radial-gradient(#94dfff, #269ed6);
    background: radial-gradient(#94dfff, #269ed6);
}
.item-info[data-rarity=frozen] {
    border-top-color: #c4dff7;
}
.rarity-label[data-rarity=frozen] {
    background-color: #c4dff7;
}

.item-card[data-rarity=dark] {
    background: -o-radial-gradient(#fb22df, #520c6f);
    background: radial-gradient(#fb22df, #520c6f);
}
.item-info[data-rarity=dark] {
    border-top-color: #ff42e7;
}
.rarity-label[data-rarity=dark] {
    background-color: #ff42e7;
}

.item-card[data-rarity=marvel] {
    background: -o-radial-gradient(#c53333, #761b1b);
    background: radial-gradient(#c53333, #761b1b);
}
.item-info[data-rarity=marvel] {
    border-top-color: #ef3537;
}
.rarity-label[data-rarity=marvel] {
    background-color: #ea3537;
}

.item-card[data-rarity=dc] {
    background: -o-radial-gradient(#5475c7, #243461);
    background: radial-gradient(#5475c7, #243461);
}
.item-info[data-rarity=dc] {
    border-top-color: #6094ce;
}
.rarity-label[data-rarity=dc] {
    background-color: #6094ce;
}

.item-card[data-rarity=starwars] {
    background: -o-radial-gradient(#1b366e, #081737);
    background: radial-gradient(#1b366e, #081737);
}
.item-info[data-rarity=starwars] {
    border-top-color: #e7c413;
}
.rarity-label[data-rarity=starwars] {
    background-color: #e7c413;
}

.item-card[data-rarity=gaminglegends] {
    background: -o-radial-gradient(#5447d4, #312497);
    background: radial-gradient(#5447d4, #312497);
}
.item-info[data-rarity=gaminglegends] {
    border-top-color: #8078ff;
}
.rarity-label[data-rarity=gaminglegends] {
    background-color: #9790ff;
}

.item-card[data-rarity=icon] {
    background: -o-radial-gradient(#36b7b7, #256b6b);
    background: radial-gradient(#36b7b7, #256b6b);
}
.item-info[data-rarity=icon] {
    border-top-color: #52e0e0;
}
.rarity-label[data-rarity=icon] {
    background-color: #32a7a7;
}

.item-card[data-rarity=slurp] {
    background: -o-radial-gradient(#29f1a3, #12a9a4);
    background: radial-gradient(#29f1a3, #12a9a4);
}
.item-info[data-rarity=slurp] {
    border-top-color: #53f0ff;
}
.rarity-label[data-rarity=slurp] {
    background-color: #53f0ff;
}

.item-card[data-rarity=shadow] {
    background: -o-radial-gradient(#717171, #191919);
    background: radial-gradient(#717171, #191919);
}
.item-info[data-rarity=shadow] {
    border-top-color: #949494;
}
.rarity-label[data-rarity=shadow] {
    background-color: #949494;
}

.clock-icon {
    width: 30px;
    height: 30px;
}

.hidden { display:none; }
.hidden-media-o { display:none; }
.d-50 {
    width: 50%;
}

.d-70 {
    width: 70%;
}
.d-30 {
    width: 30%;
}

.d-70-media {
    width: 70%;
}
.d-30-media {
    width: 30%;
}

.d-50-media {
    width: 50%;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.flex-media {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.right {
    position: absolute;
    right: 0;
}

.pointer {
    cursor: pointer;
}

.flex-hcenter {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.panning {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: marquee 7s linear infinite;
    animation: marquee 7s linear infinite;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: -webkit-marquee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.marquee {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: marquee 6s linear infinite;
    animation: marquee 6s linear infinite
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    100% {
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
    }
}

@keyframes scalebounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.025);
    }
}

@media (min-width: 769px) {
    .flex-omedia {
        display: block;
    }
    .text-right-omedia {
        text-align: right;
    }
    .news-item {
        flex: 0 1 31%;
    }
    .item-search-container {
        right: 3rem; 
        top: 1.3rem;
        height: 1rem;
    }
    .menu-toggle { display: none; }

    .content {
        width: 750px;
    }

    .nav-dropdown-menu {
        pointer-events: none;
        opacity: 0;
        display: block;
    }
    .nav-item:hover .nav-dropdown-menu {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 992px) {
    /*Item card change size*/
    .item-card img:not(.vbuck-icon):not(.item-card-item-display) {
        border: 0;
        width: 200px;
    }
    .item-card:not(.no-resize) {
        width: 112px;
    }
    .item-card .item-info {
        font-size: 9px;
    }
    .item-card .item-info .vbuck-icon {
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 992px) {
    .content {
        width: 970px;
    }
    .item-price-vbp {
        transform: scale(.9);
    }
    .item-price-bip {
        transform: scale(.75);
    }
}

@media (min-width: 1528px) {
    .content {
        width: 1000px;
    }
}

@media (max-width: 784px) {
    .fn-dot-mask, .fn-season-video, .season-video {
        display: none;
    }
}

@media (max-width: 768px) {
    .content {
        margin: 6rem 3rem;
    }
    .nav-content {
        padding: 1rem 3rem 5rem;
    }
    .nav-logo {
        margin-left: 6.7rem; 
    }
    .menu-toggle {
        margin-left: 3rem;
    }
    .navbar-top { display: block; }
    .item-search-container input[type=text] { width: 100%; }
    .nav-container {
        left: 0;
    }
    .nav-items {
        flex-direction: column;
        width: 100%;
    }
    .nav-items li {
        flex: 2 1 auto;
    }
    .nav-item {
        font-size: 20px;
    }
    .nav-dropdown-menu {
        position: relative;
    }

    /*What cAN I SAYYY*/
    .nav-item:not(:not(.toggled)) .nav-dropdown-menu {
        display: block;
    }

    .item-search-container input[type=text], .item-search-container button {
        margin-top: 1rem;
        font-size: 16px;
        height: 3rem;
    }

    .menu-toggle {
        position: absolute;
        top: .7rem;
    }
    .d-50-media {
        width: 100%;
    }
    .d-70-media {
        width: 100%;
    }
    .d-30-media {
        width: 100%;
    }

    .flex-media {
        display: block;
    }

    .hidden-media { display:none; }
    .hidden-media-o { display:block; }

    .text-center-omedia {
        text-align: center;
    }
}