@font-face {
    font-family: burbank-big;
    src: url(../assets/fonts/burbank.otf);
}

@font-face {
    font-family: burbank-bold;
    src: url(../assets/fonts/burbank-bold.otf);
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);

    background-image: url(https://repository-images.githubusercontent.com/490444433/3cae59ee-46bf-4471-a978-64dc2e618fa7);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-nav-top {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 2fr));
    grid-auto-rows: 40px;
    grid-gap: 2px;
}

.page-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    text-transform: uppercase;
    font-family: burbank-big;
    backdrop-filter: blur(10px);
    color: white;

    background-color: rgba(0, 81, 255, 0.5);
    transition: background-color .1s;
}
.page-header:hover {
    background-color: rgba(51, 115, 255, 0.5);
}
.page-header[selected="true"] {
    background-color: rgba(88, 88, 88, 0.5);
}

/*https://fortniteapi.io/favicon.ico*/
.watermark-container {
    display: flex;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    right: 0;
}
.watermark-container img {
    opacity: .5;
}

.news-item-info {
    position: absolute;
    bottom: 0;
    margin: 1.7rem;
    width: 60%;
}

.gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 59, 251, 0.7), rgba(255, 255, 255, 0));
}

.title {
    color: white;
    font-family: burbank-big;
    font-size: 40px;
    text-transform: uppercase;
}

.transition-all {
    transition: all .3s;
}
.transition-all-slow {
    transition: all 1s;
}

.description {
    color: #CCFFFF;
    font-family: burbank-bold;
    font-size: 17px;
    margin: 0;
}

.text-wait {
    margin-top: 10rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: wait-text 2s ease-in-out infinite;
    font-family: burbank-big;
    color: white;
    text-align: center;
}
.text-wait[done=true] {
    display: none;
    animation:none;
}

@keyframes wait-text {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 10px;
    }
    100% {
        letter-spacing: 0px;
    }
}